html,body{
    background-color: burlywood;
    height: 100%;
}

.container{
    border: 3px solid orange;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
}

.container > div{
    width: 300px;
}


.home{
    background-color: palegreen;
    font-size: xx-large;
    padding: 5px;
    
    
}

.contact{
    background-color: rgb(251, 164, 152);
    font-size: xx-large;
    padding: 5px;
    
    
}

.logout{
    background-color: rgb(152, 215, 251);
    font-size: xx-large;
    padding: 5px;
    
    

}