*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#header {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#nav-bar ul {
    display: flex;
}

nav#nav-bar ul li {
    margin-left: 2rem;
}

nav#nav-bar ul li a {
    color: black;
}

#header-img {
    width: 15rem;
    margin-left: -1rem;
}

@media screen and (max-width: 650px) {
    #header {
        flex-direction: column;
    }

    nav#nav-bar ul {
        display: block;
        text-align: center;
    }

    #header-img {
        margin: 1rem 0;
        text-align: center;
    }
}

.subscribe {
    text-align: center;
    margin: 2rem auto;
}

.subscribe input {
    padding: .3rem;
    display: block;
    margin: .9rem auto;
}

.subscribe input#email {
    width: 250px;
}

.subscribe input#submit {
    width: 150px;
    border: none;
    background-color: #f1c40f;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.features-wrapper {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.features-icon i {
    font-size: 35px;
    color: #f38b35;
    width: 45px;
}

.features-text {
    margin-left: 3.5rem;
}

.features-text h3 {
    font-size: 1.5rem;
}

.features-text p {
    opacity: .8;
}

@media screen and (max-width: 650px) {
    .features-wrapper {
        flex-direction: column;
    }

    .features-text {
        margin: 0;
        text-align: center;
    }
    
    .features-icon i {
        display: none;
    }
}

section#video {
    text-align: center;
    margin: 5rem 0;
}

.pricing-wrapper {
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-auto-rows: repeat(3, 300px);
    margin-bottom: 5rem;
}

.pricing-box {
    text-align: center;
    line-height: 2.5rem;
    border: 1px solid #111;
}

.pricing-box h4 {
    background-color: #ddd;
}

.pricing-box .price {
    font-weight: bold;
    font-size: 1.5rem;
}

.pricing-box .btn {
    text-transform: uppercase;
    color: #111;
    background-color: #f1c40f;
    display: block;
    width: 150px;
    margin: 1rem auto;
}


    
